*{
    margin: 0;
    font-style: italic
    
}

.Encabezado,.Encabezado__enlace,.juegos-recomendados,.Ranking,.Pie-pagina{
    color: white;
}

.Encabezado,.Pie-pagina,.Formulario__boton--resetear{
    background-color:red;
}

.Encabezado__titulo,.Pie-pagina{
    text-align: center;
}

.Encabezado__enlace{
    text-decoration: none;

}

.Encabezado__lista{
    list-style: none;
    
}

.juegos-recomendados{
    background-color: black;
}

.juegos-recomendados__h3{
    margin-bottom: 5px;
}

.juegos-recomendados__subtitulo{
    margin-left: 10px;
}

.juegos-recomendados__seccion{
    margin: 10px;
    margin-bottom: 5px;
}

.juegos-recomendados__imagen{

    height: 350px;
    width: 350px;
    border: 7px solid rgb(255, 0, 0);
}

.juegos-recomendados__parrafo{
    font-family: 'Times New Roman', Times, serif;
}



.Formulario__boton{
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-weight: bold; /*Grosor del textp*/
    
}

.Formulario__boton--enviar{
    background-color: green;
    /* border: 4px solid green; */
}


.Pie-pagina__listado{
    list-style: none;
}

.Pie-pagina__parrafo{
    font-family: 'Times New Roman', Times, serif;
    
}


.Ranking{
    margin: 0px;
    margin-bottom: 10px;
    
}


.Ranking__caja{

    display: grid;
    grid-template-columns: repeat(3,auto);/* 3 columnas, las columnas miden lo que necesite su contenido */
    justify-content: center; /*centra toda la grilla horizontalmente*/
    gap: 10px; /*espacio entre las fotos*/

}

.Ranking__imagen{
    height: 250px;
    width: 350px;
    border: 5px solid rgb(255, 0, 0);
}

.Ranking__enlace{
    color: red;
}