*{
    margin: 0;
    font-family:"Roboto Condensed", sans-serif ;
}

.Encabezado,.Encabezado__enlace,.juegos-recomendados,.Ranking,.Pie-pagina{
    color: white;
}

.Encabezado,.Pie-pagina,.Formulario__boton--resetear{
    background-color:hsl(0, 100%, 50%);
}

.Encabezado__titulo{
    padding-top:5px
}

.Encabezado__titulo,.Pie-pagina{
    text-align: center;
}

.Encabezado__enlace{
    text-decoration: none;

}

.Encabezado__enlace:hover{
    background-color: black;
    border-radius: 5px;

}

.Encabezado__lista{
    list-style: none;
    
}

.juegos-recomendados{
    background-color: black;
    text-align:center
}

.juegos-recomendados__h3{
    margin-bottom: 5px;
}

.Juegos-recomendados__contenedor{
    display:grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    gap: 10px;
}

.juegos-recomendados__subtitulo{
    margin-left: 10px;
}

.juegos-recomendados__articulo{
    /* margin: 10px;
    margin-bottom: 5px;
    background-color: gray; */
    margin: 20px auto;      /* centra horizontalmente */
    background-color: gray;
    max-width: 500px;       /* limita el ancho */
    padding: 10px;          /* espacio interno */
    border-radius:10px;
}

.juegos-recomendados__imagen{

    height: 350px;
    width: 350px;
    border: 7px solid hsl(0, 100%, 50%);
}

.juegos-recomendados__parrafo{
    font-family: 'Times New Roman', Times, serif;
}



.Formulario__boton{
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    font-weight: bold; /*Grosor del textp*/
    
}

.Formulario__boton--enviar{
    background-color: green;
    /* border: 4px solid green; */
}


.Pie-pagina__listado{
    list-style: none;
}

.Pie-pagina__parrafo{
    font-family: 'Times New Roman', Times, serif;
    
}

.Ranking{
    margin: 0px;
    margin-bottom: 10px;
    
}

.Ranking__caja{

    display: grid;
    grid-template-columns: repeat(3,auto);/* 3 columnas, las columnas miden lo que necesite su contenido */
    justify-content: center; /*centra toda la grilla horizontalmente*/
    gap: 10px; /*espacio entre las fotos*/

}

.Ranking__imagen{
    height: 250px;
    width: 350px;
    border: 5px solid rgb(255, 0, 0);
}

.Ranking__enlace{
    color: red;
}